<template>
  <div class="chatbg">
    <div class="fill-height">
      <v-row align="center" justify="center" class="fill-height">
        <div class="chat-screen">
          <div class="chat-header">
            <div class="brand-name text-center">
              <a href="#">Wadhwa</a>
            </div>
          </div>
          <div id="conversation-window" class="conversation-window">
            <template v-if="messages.length != 0">
              <div
                v-for="(item, index) in messages"
                :key="index"
                :class="
                  item.from == 'server'
                    ? 'mr-auto pl-0'
                    : 'ml-auto pr-0 text-right'
                "
                class="col-md-9 col-10 py-0 message-wrapper"
              >
                <div class="message" :class="item.from == 'server' ? 'from-server' : 'from-user'">
                  <template v-if="item.type == 'image'">
                    <div class="image-holder">
                      <div v-if="item.title != ''" class="image-title">{{ item.title }}</div>
                      <img :src="item.source" class="w-100 image-response" alt />
                      <div class="image-description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit.
                      </div>
                    </div>
                  </template>
                  <p v-else>{{ item.text }}</p>
                </div>
              </div>
              <div v-if="show_carousel_ui" id="carousel-section" class="mt-3">
                <carousel :items="2" :loop="true" :autoplay="true" :nav="false" :dots="true">
                  <v-card v-for="(item, index) in carouselArray" :key="index" outlined class="mx-2">
                    <v-card-title class="subtitle-2 p-1">{{ item.title }}</v-card-title>
                    <img class="w-100" :src="item.source" />
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        @click="
                          sendMessage(
                            sessionID,
                            `View details of ${item.title}`,
                            true
                          );
                          show_carousel_ui = false;
                        "
                        text
                        small
                      >View Details</v-btn>
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </carousel>
              </div>
            </template>
            <typinganimation v-if="loader" class="mt-1" />
          </div>
          <div id="input-section">
            <v-text-field
              v-model="message"
              :disabled="inputField.disabled"
              :color="inputField.color"
              name="chatbot-input-screen"
              :label="inputField.label"
              :placeholder="inputField.placeholder"
              v-on:keyup.enter="
                sendMessage(sessionID, message, true);
                closeOptionWindow();
              "
            >
              <template v-slot:append>
                <v-icon
                  :disabled="inputField.disabled"
                  @click="
                    sendMessage(sessionID, message, true);
                    closeOptionWindow();
                  "
                  :color="inputField.actionButton.color"
                  large
                >mdi-send-circle-outline</v-icon>
              </template>
            </v-text-field>
            <div v-if="optionsArray.show" id="option-section">
              <v-card class="mb-2 mt-0">
                <v-card-title
                  class="subtitle-1 font-weight-bold"
                  v-if="optionsArray.title != ''"
                >{{ optionsArray.title }}</v-card-title>
                <v-card-subtitle
                  v-if="optionsArray.description != ''"
                >{{ optionsArray.description }}</v-card-subtitle>
                <v-card-text>
                  <v-btn
                    @click="
                      sendMessage(sessionID, item.value.input.text, true),
                        closeOptionWindow()
                    "
                    class="my-3"
                    v-for="(item, index) in optionsArray.options"
                    :key="index"
                    large
                    outlined
                    block
                    rounded
                  >{{ item.label }}</v-btn>
                </v-card-text>
              </v-card>
            </div>
            <div v-if="show_datepicker" id="calendar-select" class="mb-3">
              <v-date-picker
                :min="new Date().toISOString().substr(0, 10)"
                width="100%"
                v-model="siteVisitDate"
                color="#1378bc"
                header-color="#1378bc"
              ></v-date-picker>
            </div>
            <div v-if="show_timepicker" id="time-select" class="mb-3">
              <v-time-picker
                v-model="siteVisitTime"
                class="mt-2"
                landscape
                ampm-in-title
                full-width
                color="#1378bc"
              ></v-time-picker>
            </div>
          </div>
        </div>
      </v-row>
    </div>
  </div>
</template>

<script>
import typinganimation from "./typinganimation";
import Datepicker from "vuejs-datepicker";
import carousel from "vue-owl-carousel2";
import axios from "axios";
export default {
  components: {
    typinganimation,
    Datepicker,
    carousel
  },
  created() {
    this.fetchData();
  },
  data() {
    return {
      siteVisitDate: "",
      siteVisitTime: "",
      carouselArray: [],
      inputField: {
        label: "",
        placeholder: "Please wait",
        actionButton: {
          color: "#1378bc"
        },
        color: "#1378bc",
        disabled: true
      },
      messages: [],
      loader: true,
      sessionID: "",
      message: "",
      optionsArray: {
        options: [],
        title: "",
        description: "",
        show: false
      },
      show_datepicker: false,
      show_timepicker: false,
      show_carousel_ui: false
    };
  },
  methods: {
    fetchData() {
      axios
        .post("https://swiggy-chatbot.herokuapp.com/api/session")
        .then(response => {
          console.log(response.data);
          this.sessionID = response.data.session_id;
          this.sendMessage(response.data.session_id, "", false);
        });
    },
    sendMessage(sessionID, message, label) {
      // Set Label true to show the sent message chat bubble
      this.inputField.disabled = true;
      this.inputField.placeholder = "Please wait";
      if (label) {
        this.messages.push({
          from: "user",
          type: "text",
          text: message
        });
      }
      this.scrollToEnd();
      this.message = "";
      if (sessionID == "") {
        return;
      }
      axios
        .post("https://swiggy-chatbot.herokuapp.com/api/message", {
          sessionId: sessionID,
          input: message
        })
        .then(response => {
          console.log(response.data);
          this.loader = false;
          this.createUI(response.data);
        })
        .catch(error => {
          console.log(error.response.data);
        });
    },
    async createUI(response) {
      var conversationArray = response.output.generic;
      var contextArray = response.context.skills["main skill"];
      var userDefinedOutput = response.output.user_defined;
      for (let i = 0; i < conversationArray.length; i++) {
        const convObj = conversationArray[i];
        const type = convObj.response_type;
        if (type == "text") {
          const text = convObj.text;
          var message = {
            from: "server",
            type,
            text
          };
          this.messages.push(message);
          this.scrollToEnd(0);
          this.inputField.placeholder = "Type Here";
          this.inputField.disabled = false;
        }
        if (type == "pause") {
          var pauseTime = convObj.time;
          var isTyping = convObj.typing;
          if (isTyping) {
            this.loader = true;
            this.inputField.disabled = true;
          } else {
            this.inputField.disabled = false;
            this.loader = false;
          }
          this.scrollToEnd(0);
          await this.setTimer(pauseTime);
        }
        if (type == "image") {
          var sourceUrl = convObj.source;
          var title = convObj.title;
          var description = convObj.description;
          var message = {
            from: "server",
            type,
            title,
            text: description,
            source: sourceUrl
          };
          this.scrollToEnd(300);

          this.messages.push(message);
          this.inputField.placeholder = "Type Here";
          this.inputField.disabled = false;
        }
        if (type == "option") {
          this.optionsArray.options = convObj.options;
          this.optionsArray.title = convObj.title;
          this.optionsArray.description = convObj.description;
          this.inputField.disabled = true;
          var instance = this;
          setTimeout(function() {
            instance.optionsArray.show = true;
            instance.inputField.placeholder = "Select option";
            instance.changeWindowHeight("option-section");
          }, 1000);
        }
      }
      if (userDefinedOutput && userDefinedOutput.custom.show_carousel) {
        this.createCarousel(userDefinedOutput.custom.carousel_items);
      }
      if (userDefinedOutput && userDefinedOutput.custom.show_calendar) {
        this.inputField.placeholder = "Select Date";
        this.inputField.disabled = true;
        setTimeout(() => {
          this.show_datepicker = true;
          this.changeWindowHeight("calendar-select");
        }, 1000);
      }
      if (userDefinedOutput && userDefinedOutput.custom.show_timepicker) {
        this.inputField.placeholder = "Select Time";
        this.inputField.disabled = true;
        setTimeout(() => {
          this.show_timepicker = true;
          this.changeWindowHeight("time-select");
        }, 1000);
      }
      if (userDefinedOutput && userDefinedOutput.custom.saveLeads) {
        console.log("Save lead found");

        var params = userDefinedOutput.custom.params;
        this.saveLeads(params);
      }
      if (contextArray.hasOwnProperty("user_defined")) {
        if (contextArray.user_defined.show_calendar) {
          this.inputField.placeholder = "Select Date";
          this.inputField.disabled = true;
          setTimeout(() => {
            this.show_datepicker = true;
            this.changeWindowHeight("calendar-select");
          }, 1000);
        } else {
          this.closeDatePicker();
        }

        if (contextArray.user_defined.show_timepicker) {
          this.inputField.placeholder = "Select Time";
          this.inputField.disabled = true;
          setTimeout(() => {
            this.show_timepicker = true;
            this.changeWindowHeight("time-select");
          }, 1000);
        } else {
          this.closeTimePicker();
        }
      }
      this.loader = false;
    },
    setTimer(ms) {
      return new Promise(res => setTimeout(res, ms));
    },
    scrollToEnd(ms) {
      var instance = this;
      setTimeout(function() {
        var height = instance.$el.querySelectorAll(".conversation-window")[0]
          .scrollHeight;
        instance.$el.querySelectorAll(
          ".conversation-window"
        )[0].scrollTop = height;
      }, ms);
    },
    changeWindowHeight(element) {
      var instance = this;
      setTimeout(function() {
        var convoWindowHeight = document.getElementById("conversation-window")
          .offsetHeight;
        var optionWindowHeight = document.getElementById(element).offsetHeight;

        var convoWindowNewHeight = convoWindowHeight - optionWindowHeight;

        document.getElementById("conversation-window").style.height =
          convoWindowNewHeight + "px";
        instance.scrollToEnd(300);
      }, 100);
    },
    closeOptionWindow() {
      if (this.optionsArray.show) {
        this.optionsArray.show = false;
      }
      if (this.show_datepicker) {
        this.show_datepicker = false;
      }
      if (this.show_timepicker) {
        this.show_timepicker = false;
      }
      document.getElementById("conversation-window").style.height = "";
    },
    closeDatePicker() {
      this.show_datepicker = false;
      document.getElementById("conversation-window").style.height = "";
    },
    closeTimePicker() {
      this.show_timepicker = false;
      document.getElementById("conversation-window").style.height = "";
    },
    createCarousel(obj) {
      console.log("Creating carousel");
      console.log(obj);
      this.carouselArray = obj;
      this.show_carousel_ui = true;
      this.scrollToEnd(300);
    },
    saveLeads(params) {
      console.log("Saving leads");
      console.log("params", params);

      var formdata = new FormData();
      formdata.append("text-1585830208873", params.name);
      formdata.append("text-1585830210489", params.email);
      formdata.append("text-1585830211082", params.phone);
      formdata.append("text-1585830211657", params.eqType);
      formdata.append("text-1585830212521", params.appointmentDate);
      formdata.append("text-1585830302854", params.appointmentTime);
      formdata.append("utm_source", "");
      formdata.append("utm_medium", "");
      formdata.append("utm_campaign", "");
      formdata.append("utm_term", "");
      formdata.append("lpm", "2");
      formdata.append("id", "10");
      formdata.append("client", "14");
      formdata.append("redirectURL", "https://facebook.com");
      axios({
        method: "post",
        url: "https://digishield.in/API/public/api/saveLead",
        data: formdata
      })
        .then(response => {
          console.log(response.data);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  watch: {
    siteVisitDate(event) {
      if (event != "") {
        console.log(this.$moment(event).format("MMMM Do YYYY"));
        this.message = this.$moment(event).format("MMMM Do YYYY");
        this.inputField.disabled = false;
      } else {
        this.inputField.disabled = false;
      }
    },
    siteVisitTime(time) {
      if (time != "") {
        this.message = this.$moment(this.siteVisitDate + " " + time).format(
          "h:mm a"
        );
        this.inputField.disabled = false;
      } else {
        this.inputField.disabled = false;
      }
    }
  }
};
</script>

<style>
.chatbg {
  background-color: #fff;
  height: 100vh;
  background-image: url("./../assets/bg3.png");
  background-size: cover;
  background-position: right center;
}
.chat-screen {
  width: 400px;
  position: relative;
  background-color: #fff;
  height: 630px;
  padding: 0 10px 10px 10px;
  max-height: 620px;
  overflow: auto;
  margin-top: 0;
  margin-left: 0;
  transition: 0.3s ease-out;
  border-radius: 5px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  animation: fadein 1s;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#input-section {
  bottom: 0;
  position: absolute;
  width: calc(100% - 20px);
  margin: 0 auto;
}

img.image-response {
  width: 100%;
}

.conversation-window {
  height: calc(100% - 110px);
  margin-top: 18px;
  overflow: auto;
  /* transition: height 0.2s;
  transition-timing-function: ease-in; */
}

.conversation-window .message p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding: 0;
}

.message-wrapper {
  margin-top: 7px;
}

.message-wrapper:first-child {
  margin-top: 0px !important;
}

.conversation-window .message.from-server p {
  background-color: #3a5150;
  animation: animateElement linear 0.3s;
  padding: 8px;
  color: #fff;
  border-radius: 10px;
  border-top-left-radius: 0 !important;
  display: inline-block;
}

.conversation-window .message.from-server .image-holder {
  background-color: #3a5150;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.conversation-window .message.from-server .image-title {
  padding: 8px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.conversation-window .message.from-server .image-description {
  padding: 8px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: left;
}

.conversation-window .message.from-user p {
  background-color: #1378bc;
  animation: animateElement linear 0.3s;
  padding: 8px;
  color: #fff;
  border-top-right-radius: 0 !important;
  border-radius: 10px;
  display: inline-block;
}

.brand-name a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 0;
  background-color: #1378bc;
  padding: 5px 30px;
  color: #fff !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.conversation-window::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #f5f5f5;
  border-radius: 10px;
}

.conversation-window::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.conversation-window::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(39, 82, 212))
  );
}

@keyframes animateElement {
  0% {
    opacity: 0;
    transform: translate(0px, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
</style>
