<template>
  <div>
    <span class="typing"></span><span class="typing"></span
    ><span class="typing"></span>
  </div>
</template>

<script>
export default {};
</script>

<style>
span.typing {
  width: 15px;
  height: 15px;
  margin: 3px;
  background-color: #06225d;
  border-radius: 50%;
  display: inline-block;
}

span.typing:nth-child(1) {
  animation: jump 0.5s infinite alternate;
}

span.typing:nth-child(2) {
  animation: jump 0.5s 0.2s infinite alternate;
}

span.typing:nth-child(3) {
  animation: jump 0.5s 0.4s infinite alternate;
}

@keyframes jump {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
    opacity: 0.6;
  }
}
</style>
