<template>
  <v-app>
    <v-content>
      <chatscreen />
    </v-content>
  </v-app>
</template>

<script>
import chatscreen from "./components/chatscreen.vue";
export default {
  name: "App",

  components: {
    chatscreen
  },

  data: () => ({
    //
  })
};
</script>

<style>
body {
  overflow: hidden !important;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
</style>
